#
# java
#
# configure jdk per `.java-version`
java_ver=$(cat .java-version)
if has jenv; then
  jenv local $java_ver;
elif [[ $(type -t use_java) == function ]]; then
  # use direnvrc `use_java` function
  use java $java_ver
else
  JAVA_HOME=$(/usr/libexec/java_home -v $java_ver)
  if ! [ -z "${JAVA_HOME}" ]; then
    PATH_add ${JAVA_HOME}/bin
  fi
fi
